@page "/edit/{catId:int}"
@inject CategoryService service
@inject NavigationManager nav
@inject IJSRuntime JS


<EditForm Model="productCategory" OnValidSubmit="SaveData">
	<DataAnnotationsValidator />
	<ValidationSummary />
	<div>
		<label for="name">Name:</label>
		<InputText id="name" class="form-control" required @bind-Value="productCategory.Name" />
		<ValidationMessage For="()=> productCategory.Name" />
	</div>

	<table class="table table-active table-bordered table-hover">
		<tr>
			<th>Product Name</th>
			<th>Product Number</th>
			<th>Product Color</th>
			<th>
				<button type="button" class="btn btn-outline-info" @onclick="AddProduct">Add Product</button>
			</th>
		</tr>
		@foreach (var prod in productCategory.Products)
		{
			<tr>
				<td>
				
					<InputText id="name" class="form-control" @bind-Value="prod.Name" />
					<ValidationMessage For="()=> prod.Name" />
				</td>
				<td>
					<InputText id="name" class="form-control" @bind-Value="prod.ProductNumber" />
					<ValidationMessage For="()=> prod.ProductNumber" />
				</td>
				<td>
					<InputText id="name" class="form-control" @bind-Value="prod.Color" />
					<ValidationMessage For="()=> prod.Color" />
				</td>
				<td>
					<button type="button" class="btn btn-outline-warning" @onclick="()=> DeleteProduct(prod)">Delete</button>
				</td>
			</tr>


		}
	</table>

	<button type="submit" class="btn btn-outline-success">
		Save
	</button>
	<button type="button" class="btn btn-outline-danger" @onclick="DataDelete">
		Delete
	</button>
	<NavLink class="btn btn-outline-info" href="cat">
		Cancel
	</NavLink>
</EditForm>

@code {




	[Parameter]
	public int catId { get; set; }


	private ProductCategory? productCategory = new ProductCategory();


	// public CategoryEdit()
	// {
	// 	JS.InvokeVoidAsync("alert", "CategoryEdit CTOR!");
	// }
	// protected override void OnParametersSet()
	// {
	// 	JS.InvokeVoidAsync("alert", "OnParametersSet!");
	// 	base.OnParametersSet();
	// }
	// protected override async Task OnParametersSetAsync()
	// {
	// 	await JS.InvokeVoidAsync("alert", "OnParametersSetAsync!");
	// 	await base.OnParametersSetAsync();
	// }
	// protected override void OnInitialized()
	// {
	// 	JS.InvokeVoidAsync("alert", "OnInitialized!");
	// 	base.OnInitialized();
	// }
	protected override async Task OnInitializedAsync()
	{
		//await JS.InvokeVoidAsync("alert", "OnInitializedAsync!");
		this.productCategory = await this.service.GetCategoryById(catId);

		await base.OnInitializedAsync();
	}


	

	// protected override void OnAfterRender(bool firstRender)
	// {
	// 	JS.InvokeVoidAsync("alert", $"OnAfterRender firstRender={firstRender}");
	// 	base.OnAfterRender(firstRender);
	// }
	// protected override async Task OnAfterRenderAsync(bool firstRender)
	// {
	// 	await JS.InvokeVoidAsync("alert", $"OnAfterRender firstRender={firstRender}");
	// 	await base.OnAfterRenderAsync(firstRender);
	// }


	// protected override bool ShouldRender()
	// {
	// 	JS.InvokeVoidAsync("alert", "ShouldRender!");
	// 	return base.ShouldRender();
	// }


	public async Task SaveData()
	{
		var response = await service.Update(productCategory);

		if (response.IsSuccessStatusCode)
		{
			nav.NavigateTo("/cat");
		}


	}

	void AddProduct()
	{
		productCategory.Products?.Add(new Product());
	}
	void DeleteProduct(Product item)
	{
		productCategory.Products?.Remove(item);

	}

	async Task DataDelete()
	{
		var response = await service.Delete(catId);

		if (response.IsSuccessStatusCode)
		{
			nav.NavigateTo("/cat");
		}

	}


}
